* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: red;
}

nav {
    position: sticky; 
    top: 0;
    overflow: hidden;
    background: white;
    margin-bottom: -75px;
}

section  {
    margin-top: -150px
}

nav .b-example-divider {
    margin-bottom: -27.5px;
}

.slider {
    width: 75%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate;
    animation-timing-function: linear;
}

.slider li {
    width: 100%;
    list-style: none
}

.slider img {
    width: 100%
}

#btn-1 {
    transform: rotate(-90deg)
}

#btn-2 {
    transform: rotate(90deg)
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

#navbar-logo {
    width: 20%;
    margin: -60px 0;
}

#footer-logo {
    width: 40%;
    margin: -35px 0;
}

@media (max-width: 1000px) { 
    .slider {
        display: none;
    }
    video {
        height: 240px;
        width: 320px;
        display: block;
        margin: 0 auto;
    }
}
